{% extends 'layout.html' %}
{% block title %} Amazing {% endblock %}

{% block content %}
    <div class="container">
        {% include 'navbar.html' %}
        <div class="jumbotron mb-5">
            <h1>Find the pairs</h1>

            <div class="row">
                {% for card in cards %}
                    <div class="cards col-lg-2 col-md-4 col-sm-6 my-2 rounded">
                        <i class="icon fas fa-crow fa-7x"></i>
                    </div>
                {% endfor %}
            </div>

        </div>
    </div>
{% endblock %}